.circle {
  position: relative;
  :global .swiper {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    overflow: visible;
    // padding-inline: 1rem;

    &-wrapper {
      display: none;
    }

    &-pagination {
      position: relative;
      bottom: unset !important;
      top: unset !important;
      left: unset !important;

      width: 536px !important;
      height: 530px;

      border-radius: 50%;
      border: 1px solid oklch(var(--border-base) / 0.2);

      &-bullet {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        margin: 0;

        &.swiper-pagination-bullet-active {
          &::before {
            opacity: 1;
            visibility: visible;
          }
        }

        &::before {
          content: attr(data-title);
          position: absolute;
          top: 50%;
          left: calc(100% + 1.25rem);
          font-size: 1.25rem;
          line-height: 1;
          transform: translateY(-50%);
          opacity: 0;
          visibility: hidden;
          transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
        }
      }
    }
  }

  &Tools {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-left: var(--main-l-pd);
  }

  &Fraction {
    font-size: 0.875rem;
    line-height: 1;
    font-variant-numeric: tabular-nums;
  }

  &Navigation {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
}
