.circle {
  position: relative;

  :global .swiper {
    // display: flex;
    // align-items: center;
    // justify-content: center;

    &-wrapper {
      display: none;
    }

    &-pagination {
      position: relative;
      bottom: unset !important;
      top: unset !important;
      left: unset !important;

      width: 536px !important;
      height: 530px;

      border-radius: 50%;
      border: 1px solid oklch(var(--border-base) / 0.2);
    }
  }

  &Tools {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-left: var(--main-l-pd);
  }

  &Fraction {
    font-size: 0.875rem;
    line-height: 1;
    font-variant-numeric: tabular-nums;
  }

  &Navigation {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
}
