.circle {
  position: relative;

  :global .swiper {
    overflow: visible;

    &-wrapper {
      display: none;
    }
  }

  &Pagination {
    position: relative;

    width: 536px;
    height: 530px;

    border-radius: 50%;
    border: 1px solid oklch(var(--border-base) / 0.2);

    transform-origin: center;
    transform: rotate(var(--rotate));

    transition: transform 800ms ease-in-out;

    &Bullet {
      cursor: pointer;

      position: absolute;
      top: 0;
      left: 0;

      margin: 0;
      width: 3.5rem;
      height: 3.5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      color: transparent;
      font-size: 1.25rem;

      border-radius: 50%;
      background-color: transparent;
      border: 0;

      transform-origin: center center;
      transform: translate(-50%, -50%) rotate(var(--rotate));

      transition: color 300ms ease-in-out, transform 800ms ease-in-out,
        box-shadow 300ms ease-in-out;

      &::after {
        content: attr(data-title);

        position: absolute;
        top: 50%;
        left: calc(100% + 1.25rem);

        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
      }

      &:before {
        content: "";

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;

        width: 0.375rem;
        height: 0.375rem;

        border-radius: 50%;
        border: 1px solid oklch(var(--border-base) / 0.5);
        background-color: var(--text);

        transform: translate(-50%, -50%);
        transition: width 300ms ease-in-out, height 300ms ease-in-out,
          background 300ms ease-in-out;
      }

      &._active {
        color: var(--text);

        &::after {
          opacity: 1;
          visibility: visible;

          transition: opacity 300ms ease-in-out 800ms,
            visibility 300ms ease-in-out 800ms;
        }

        &:before {
          width: 100%;
          height: 100%;
          background-color: var(--background);
        }
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: 2px solid transparent;
        outline-width: 2px;
        box-shadow: 0 0 0 2px var(--background), 0 0 0 4px var(--primary);

        color: var(--text);
        &:before {
          width: 100%;
          height: 100%;

          background-color: var(--background);
        }
      }

      @media (hover: hover) {
        &:hover {
          color: var(--text);
          &:before {
            width: 100%;
            height: 100%;

            background-color: var(--background);
          }
        }
      }
    }
  }

  &Tools {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 1.25rem;

    padding-left: var(--main-l-pd);
  }

  &Fraction {
    font-size: 0.875rem;
    line-height: 1;
    font-variant-numeric: tabular-nums;
  }

  &Navigation {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    &Next,
    &Prev {
      transition: scale 150ms ease-in-out, opacity 300ms ease-in-out !important;

      @media (hover: hover) {
        &:not(:disabled) {
          &:hover {
            scale: 1.2;
          }
        }
      }
    }
  }
}
