@use "reset";
@use "fonts";
@use "libs";

:root {
  --primary-base: 59.39% 0.1912 261.6;
  --secondary-base: 68.75% 0.1943 351.54;
  --text-base: 45.25% 0.0643 261.77;
  --border-base: 36.35% 0.0489 262.38;
  --background-base: 97.05% 0.0054 274.97;
  --white-base: 100% 0 0;
  --accent-base: 56.79% 0.2113 276.71;

  --primary: oklch(var(--primary-base));
  --secondary: oklch(var(--secondary-base));
  --text: oklch(var(--text-base));
  --border: oklch(var(--border-base));
  --layout-lines: oklch(var(--border-base) / 0.1);
  --background: oklch(var(--background-base));
  --white: oklch(var(--white-base));
  --accent: oklch(var(--accent-base));

  --h2: clamp(
    1.25rem,
    calc(-0.357rem + 4.018vw),
    3.5rem
  ); /* min: 20px, max: 56px */

  --main-l-pd: clamp(
    1.25rem,
    calc(-1.429rem + 6.696vw),
    5rem
  ); /* min: 20px, max: 80px */
  --main-r-pd: clamp(
    1.25rem,
    calc(0.357rem + 2.232vw),
    2.5rem
  ); /* min: 20px, max: 40px */

  --ff-pt: "PT Sans";
  --ff-bebas: "Bebas Neue";

  font-family: var(--ff-pt);
  color: var(--text);
}

h2 {
  font-size: var(--h2);
  line-height: 1.2;
}

body {
  background-color: var(--background);
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100svh;

  max-width: 1920px;
  margin-inline: auto;
}

.main {
  position: relative;

  margin-inline: clamp(0rem, calc(-20rem + 41.667vw), 20rem)
    /* min: 0px, max: 320px */ clamp(0rem, calc(-10rem + 20.833vw), 10rem); /* min: 0px, max: 160px */

  border-right: 1px solid var(--layout-lines);
  border-left: 1px solid var(--layout-lines);

  min-height: inherit;

  @media screen and (min-width: 789px) {
    &::before {
      content: "";

      pointer-events: none;

      position: absolute;
      inset-block: 0;
      left: 50%;

      width: 1px;
      height: 100%;

      background-color: var(--layout-lines);

      transform: translateX(-50%);
    }
  }
}

.grid-stack {
  display: grid;
  grid-template-areas: "stack";

  & > * {
    grid-area: stack;
    height: fit-content;
  }
}
