.button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--text);

  border: 0;

  transition: opacity 300ms ease-in-out, color 300ms ease-in-out,
    background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid transparent;
    outline-width: 2px;
    box-shadow: 0 0 0 2px var(--background), 0 0 0 4px var(--primary);
  }

  &Default {
    background-color: var(--white);
    color: var(--primary);

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }

  &Outlined {
    border: 1px solid oklch(var(--border-base) / 0.5);
    background-color: var(--background);
  }

  &Icon {
    width: clamp(
      1.563rem,
      calc(0.446rem + 2.79vw),
      3.125rem
    ); /* min: 25px, max: 50px */
    height: clamp(
      1.563rem,
      calc(0.446rem + 2.79vw),
      3.125rem
    ); /* min: 25px, max: 50px */
    padding: 0.5rem;
    border-radius: 50%;

    &Sm {
      height: clamp(
        1.25rem,
        calc(0.357rem + 2.232vw),
        2.5rem
      ); /* min: 20px, max: 40px */
      width: clamp(
        1.25rem,
        calc(0.357rem + 2.232vw),
        2.5rem
      ); /* min: 20px, max: 40px */
      border-radius: 50%;
      padding: 0.5rem;
    }
  }
}
