.circle {
  position: relative;

  :global .swiper {
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrapper {
      display: none;
    }

    &-pagination {
      position: relative;
      bottom: unset !important;
      top: unset !important;
      left: unset !important;

      width: 536px !important;
      height: 530px;

      border-radius: 50%;
      border: 1px solid oklch(var(--border-base) / 0.2);
    }
  }
}
